* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.wrap-login {
  width: 390px;
  background-color: maroon;
  border-radius: 10px;

  overflow: hidden;
  padding: 77px 55px 33px 55px;
}

.login-form-title {
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;

  width: 100%;
  height: 45px;

  background-color: transparent;

  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  pointer-events: none;
  color: #adadad;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.focus-input::after {
  font-size: 15px;
  line-height: 1.2;
  color: white;
  text-align: left;
  content: attr(data-placeholder);

  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus + .focus-input::after {
  top: -15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: black;

  line-height: 1.2;

  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  background-color: white;
}

.login-form-btn {
  cursor: pointer;
}

.has-val + .focus-input::after {
  top: -15px;
}

.has-val + .focus-input::before {
  width: 100%;
}

.wrapper-article {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  margin: 20px 0 0;
  gap: 40px;
}
